.logo{
    float:left
}
.moto{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;

}
.header{
    display: flex;
    align-items: center;
}
.prijava{
    text-align: middle;
    margin-left: 70px;
}
td:hover{
    background-color: red;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
th,td{
    border:2px solid black ;
    color: black;
    background-color: lightgreen;
}
a:visited{
    color: blue;
}
a:link{
    color:blue;
}
a:hover{
    font-size: 17px;
    color:purple;
}
.dobrodosli{
    text-align: center;
    vertical-align: bottom;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 150px;
}
body{
    background-color: rgba(0, 255, 255, 0.253);
}