* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #222222;
}
.container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
}

.ball {
width: 45px;
/* display: inline-block; */
height: 45px;
border: 3px solid #646464;
color: #646464;
border-radius: 50%;
font-size: 22px;
margin: 5px auto;
text-align: center;
display: inline-flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.ball:hover {
  color: #DDDDDD;
}
.allRed, .allGreen, .allBlue, .allPurple, .allBrown, .allYellow, .allOrange, .allGray {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: 8px;
  left: 8px;
  cursor: pointer;
}

.info {
  width: 250px;
  margin-top: 30px;
  border-radius: 2px;
  padding: 6px;
  background: #DDDDDD;
  color: #000;
  text-align: center;
  font-size: 20px;
  display: none;
  border: 2px solid #DDDDDD;
  text-shadow: 2px 2px solid #000;
}

.allRed{
  border: 3px solid #DD1F1F;
}
.allGreen{
  border: 3px solid #1CC31C;
}
.allBlue{
  border: 3px solid #0087FF;
}
.allPurple{
  border: 3px solid #A82DEF;
}
.allBrown{
  border: 3px solid #844E14;
}
.allYellow{
  border: 3px solid #EFC82D;
}
.allOrange{
  border: 3px solid #CB5B00;
}
.allGray{
  border: 3px solid #8C8C8C;
}
.add-bet {
  margin: 0 auto;
  margin-top: 20px
}

.add-bet button {
  padding: 8px 12px;
  margin: 20px;
  font-weight: bolder;
}

.add-bet input {
  padding: 8px;
  border-radius: 4px;
  outline: none;
}

.secondView {
  display: none;
}

.bubanj {
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 10px solid gray;
  font-size: 60px;
  padding: 30px;
  padding-top: 35px;
  text-align: center;
  
}

.loptice-u {
  text-align: center;
  margin-top: 25px;
}
.bubanj-balls {
  width: 45px;
  /* display: inline-block; */
  height: 45px;
  border: 3px solid #646464;
  color: #646464;
  border-radius: 50%;
  font-size: 15px;
  margin: 5px auto;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}